nav img{
    margin-top: 65%;
}

nav{
    height: 2cm;
    background-color: rgb(223, 223, 223);
    margin: 0;
    padding: 0;
}

nav li a{
    color: black; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}

nav li a:hover{
    color: #FFBD59;
  background-color: #313F49;

}

.form-group{
	margin-bottom: 10%;
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	width: max-content;

}

footer{
    height: 2cm;
    background-color: white;
}

.twitter{
    margin-right: 80%;
}

.spotfy{
    margin-top: -4.2%;
    margin-left: 80%;
}